<header class="container my-3">
	<div class="card p-2 bg-dark text-white">
		<div class="d-flex justify-content-between align-items-center">
			<a class="fs-2 text-reset text-decoration-none" href="/">
				<i class="fa-solid fa-message"></i> FeeDo.
			</a>
			<div class="d-flex" style="gap: 0.5em">
				<div class="input-group">
					<span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
					<input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
				</div>
				<div>
					<a href="#" class="btn btn-success">Donation</a>
				</div>
			</div>
		</div>
	</div>
</header>